/* Section */
.headings{
    font-family: century;
    font-size: 3rem;
    text-align: center;
    margin: 50px 0px;
    color: white;
}
.main{
    content: "";
    position: absolute;
    top: 0%;
    right: 0%;
    background: url('images1.jpeg') no-repeat center center/cover;
    height: 700px;
    width: 100%;
}
.paraf{
    font-family: century;
    font-size: 20px;
    text-align: center;
    margin: 0.5px 0px;
    color: white;
}
.form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 10px 0px;
}
#send{
    padding: 10px;
    width: 60px;
    margin: 0.5px;
    border: none;
    outline: none;
}
#send:hover{
    cursor: pointer;
    box-shadow: 0 0 10px white;
}
.row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.box{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 550px;
    border: 1px solid black;
    margin: 10px;
    align-items: center;
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient(to top, rgb(225,45,45) 50%;
    background-size: 100% 200%;
    transition: all .8s;
}
.box:hover{
    background-position: left bottom;
    color: transparent;
    border: black;
    box-shadow: 0 0 20px rgb(225,45,45);
}